<div class="container mt-5" id="heading-container">
	<div class="row">
		<div class="col-12" id="search-container">
			<div class="mb-3" id="flash">
				<% if (error && error.length > 0) { %>
					<div class="alert alert-danger">
						<%= error %>
					</div>
				<% } %>
				
				<% if(success && success.length > 0) { %>
					<div class="alert alert-success">
						<%= success %>
					</div>
				<% } %>
			</div>
			
			<div class="jumbotron text-center" id="search-box">
				<h1 id="header">FindYourBird</h1>
				<em>A Beginner's Tool to Identify Birds in the Bay Area, CA </em><br /><br />
				<form action="/search" method="post">
					<div style="display: inline-block;">
						<div class="input-group mb-3" style="width: 100%;">
							<input minlength="3" name="name" type="text" class="form-control" placeholder='Search a bird name' aria-label="Default" id="search"/>

							<div class="input-group-append">
								<button class="btn btn-primary" type="submit" id="go" name="button"><i class="fas fa-search"></i> Search</button>
							</div>
						</div>
					</div>
					<br />
					
					<%if (info) {%>
						<!-- <button disabled class="btn btn-warning"><i class="fas fa-edit"></i> Edit Bird</button> -->
						<a class="btn btn-warning" href="/edit/<%=bird._id%>" id="edit" value="Edit"><i class="fas fa-edit"></i> Edit Bird</a>
					<% }%>
						
					<a class="btn btn-info" href="/identify" id="identify"><i class="fas fa-binoculars"></i> Identify</a>
					<a class="btn btn-success" href="/new" id="add-new"><i class="fas fa-plus-circle"></i> Add New</a>
					<a class="btn btn-dark" href="/tutorial/search"><i class="fas fa-question-circle"></i> Tutorial</a>
					<a class="btn btn-secondary" href="/contact/" id="add-new"><i class="fas fa-phone"></i> Contact</a>
				</form>
			</div>
		</div>
	</div>
	<script>
		if (window.location.href.includes("heroku")) {
			window.location.href = "https://find-your-bird.org";
		}
	</script>
</div>
