<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Find Your Bird</title>
    <link rel=stylesheet href="/style.css" />
  </head>
  <body id="body">
    <h1>Find Your Bird!</h1>

    <form action="/search" method="post">
      <input type='text' placeholder='Search a bird name' id="search" name="name" />
      <br />
      <button type="submit" id="go" name="button" value="Search"> Search</button>
      <button id="identify-button"><a href="/identify" id="identify">Identify</a></button>
    </form>
    <br /><br />
    <div class="container">
      <form action="/add_bird" method="post">
        <br />
        <input minlength="4" maxlength="35" class="inpt" type="text" id="name" name="name" placeholder="Enter bird name" />
        <input class="inpt" type="text" placeholder="Enter url for bird image" id="img" name="img" />
        <input maxlength="70" class="inpt" type='text' id="range" placeholder='Enter bird range' name="range" />
        <input maxlength="100" class="inpt" type='text' id="app" placeholder='Enter bird appearance' name="appearance" />
        <input maxlength="60" class="inpt" type='text' id="diet" placeholder='Enter bird diet, separated by commas' name="diet" />
        <input maxlength="40" class="inpt" type='text' id="habitat" placeholder="Enter bird's main colors, separated by commas" name="colors" />
        <textarea maxlength="330" class="inpt" id="description" rows='5' cols='25' type='text' placeholder='Enter bird description' name="description")></textarea>
        <br />
        <strong>Size</strong>
        <br />
        <select id="size-list" name="size">
          <% for (let size of sizes) {%>
            <option name="size"><%=size%></option>
          <%}%>
        </select>
        <br />
        <strong id="habitat-list-head">Habitat</strong>
        <br />
          <% for (let hab of habitats) {%>
            <input type="checkbox" name=<%=habitats.indexOf(hab)%> />
            <label for=<%=habitats.indexOf(hab)%> class="label"><%=hab%></label>
            <br />
          <%}%>
        <br />
        <button type="submit" id='submt' align="center" name="button">Submit Bird</button>
      </form>
    </div>
  </body>
</html>
