<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FindYourBird</title>
    <link rel=stylesheet href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='shortcut icon' type='image/x-icon' href='/media/favicon3.ico' />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

  </head>
  <body id="body">

    <%- include('partials/searchbar') %>

    <div class="container mt-5" id="bird-container">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center" style="background-color: lightgrey;">
            <h1>Contact Info</h1>
            <em>Feel free to contact me with questions about the site, tips, etc., at any of the following places!</em>
            <br /><br />

            <p>
              <strong>Email: </strong><a href="mailto: samsikabir@gmail.com">samsikabir@gmail.com</a>
            </p>

            <p>
              <strong>Blog: </strong><a target="_blank" href="https://kbirdventures.wordpress.com">KBirdVentures</a>
            </p>
            <a href="https://www.instagram.com/kabir._.samsi" target="_blank" rel="noopener noreferrer"><img style="width: 50px; height: 50px" src = "/media/insta.svg"/></a>
            <a href="https://www.facebook.com/kabir.samsi/" target="_blank" rel="noopener noreferrer"><img style="width: 40px; height: 40px;" src="/media/facebook.png"</a>
            <a href="https://www.github.com/KabirSamsi" target="_blank" rel="noopener noreferrer"><img style="width: 40px; height: 40px;" src = "/media/github.webp"/></a>
            <a href="https://kbirdventures.wordpress.com/" target="_blank" rel="noopener noreferrer"><img style="width: 40px; height: 40px;" src = "/media/wordpress.png"/></a>
          </div>
        </div>
      </div>
    </div>

  </body>
  <script src="/javascript/search.js"></script>
</html>
