extends layout.pug
block content
  form(action="/leave_gall" method="post")
    button(type="submit" id="leave") Return to bird's page
    br
    br
  div.gallery_div
    br
    each image in images 
      img(src=`${image}` class="gall_img")
    br
    br
    p 
      strong Add Image to Gallery
    form(action="/add_gall" method="post")
      input(type="text" name = "new_image_input" id="new_image_input" placeholder="Enter url for new image")
      button(type="submit" id="submit_new_image") Add new image
    br
    br
    p
      strong Remove Image From Gallery
    form(action="/del_gall" method="post")
      input(type="text" name = "deleted_index" id="new_image_input" placeholder=`${msg}`)
      button(type="submit" id="delete_image") Remove Image
