doctype html
html(lang="en")
  head
    title Find Your Bird
    style.
    
      body {
        background-image: url("https://raw.githubusercontent.com/KabirSamsi/Birds/master/background.jpg");
        background-size: cover;
        text-align: center;
      }
      
      .container {
        border-style: solid;
        background-color: lightgrey;
        border-width: 2px;
        border-color: black;
        width: 450px;
        height: 575px;
        text-align: center;
        margin-left: 455px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
      }

      #search {
        width: 300px;
        height: 30px;
        text-align: center;
        border-color: black;
      }

      #go, #add, #edit{
        width: 70px;
        height: 36px;
        background-color: lightgreen;
        text-align: center;
        border-color: black;
      }
      
      #go, #add {
          margin-right: 5px;
      }

      #add {
        background-color: lightblue;
      }

      #edit {
        background-color: yellow;
      }
      h1 {
        font-size: 50px;
      }

      .inpt {
        margin-bottom: 20px;
      }
      
      textarea {
        margin-right: 10px;
      }

      #upd, #submt, #rm, #view, #view_upd, #preview, #prev {
        background-color: green;
        width: 80px;
        color: white;
        align: center;
        margin-right: 30px;
        border-color: black
      }
      
      #view, #view_upd, #submt, #upd, #preview, #add_bird, #prev {
        background-color: orange;
        color: black;
        width: 120px;
        height: 28px;
      }
      
      #submt, #upd, #rm, #leave, #preview, #prev {
        color: black;
        background-color: green;
        width: 100px;
        margin-right: 10px;
        margin-left: 35px;
      }
      
      #upd {
        background-color: aqua;
        color: black;
        margin-right: 0px;
        margin-left: 0px;
      }
      
      #rm {
        background-color: red;
        color: white;
        height: 28px;
        margin-left: 10px;
      }
      
      #leave {
        height: 40px;
        width: 110px;
        border-color: black;
        background-color: darkblue;
        color: white;
      }
      
      #preview, #prev {
        background-color: purple;
        color: white;
        margin-left: 0px;
        margin-right: 10px;
      }

      #prev {
        margin-left: 30px;
      }
      
      #submt {
        margin-left: 0px;
      }
      
      #view_upd {
        width: 100px;
        margin-left: 20px;
      }
      
      #add_bird {
        width: 150px;
        height: 30px;
        border-color: black;
        background-color: lightblue;
      }
      
      input {
        margin-right: 10px;
      }

      img {
        width: 400px;
        height: 250px;
      }
      
      form {
        display: inline;
        text-align: center;
      }
      
      li {
        font-size: 13px;
        text-align: left;
      }

  body
    h1 Find Your Bird
    form(action="/search" method="post")
      input(type='text' placeholder='Search a bird name' id="search" name="name")
      button(type="submit" id="go" name="button" value="Search") Search
    form(action="/add" method="post")
      button(type="submit" id="add") Add Bird
    if name
      form(action="/edit" method="post")
        button(type="submit" id="edit") Edit Bird
    br
    br
    br
    block content
