body {
  background: linear-gradient(0.25turn, #094719, green, lime);
  text-align: center;
}

#header {
  padding-bottom: 20px;
  font-style: italic;
  font-family: Georgia;
}

#identify, #add-new {
  color: white;
}

#gallery {
  margin-top: 10px;
  margin-bottom: 10px;
}

#bird-container, #heading-container {
  width: 50%;
}

#heading-container {
  margin-bottom: 0%;
}

#search {
  width: 50%;
}

#bird-image {
  width: 60%;
  height: 60%;
}

.edit-bird-form {
  display: inline;
}

/* smaller than md */
@media only screen and (max-width: 1000px) {
  body {
    background-size: cover;
  }

  #bird-container, #heading-container {
    width: 100%;
  }

}
